# From https://github.com/github/gitignore/blob/master/Jekyll.gitignore
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

.DS_Store
/vendor
/example/*/build
/.venv
/node_modules

# Yarn 2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
