# Site settings
title: Interrupt
description: "A community and blog for embedded software makers"
url: "https://interrupt.memfault.com"
logo: /img/interrupt-logo-1200px.png
author:
  name: "Memfault"
  email: "interrupt@memfault.com"
  url: "https://memfault.com"
google_site_verification: 2qyLRd8BiI5o3XnqssLvbzPDJ-2S6ytb9iLoNoz1Z9M

# Build settings
baseurl: /blog
destination: ./_site/blog
include:
    - _redirects
markdown: kramdown
permalink: /:title
paginate: 8
paginate_path: /page:num/
source: .
excerpt_separator: "<!-- excerpt end -->"

# Markdown Settings
kramdown:
    toc_levels: 1..3

# Default values
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      image: /img/interrupt-cover-1200px.png

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-diagrams

tag_page: '/tags/'
category_page: '/categories/'

# Options
custom_nav_footer: true
reverse: false

# Exclude these files from the build
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - netlify.toml
  - readme.html
  - example
