---
layout: homepage
---

<div class="home-container">
    <p>
        The Interrupt community comprises engineers, hobbyists, and enthusiasts with a shared passion for hardware and firmware development. We come together to share best practices, problem-solve, collaborate on projects, advance the embedded community, and elevate device reliability engineering (DRE).
    </p>

    <p>
        The Interrupt Community was created and is moderated today by the founders of  <a href="https://memfault.com">Memfault</a>.
    </p>

    <ul class="list-of-content">
        <li>
            <a href="{{ '/blog' | relative_url }}">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url main-icons.svg#blog %}"></use>
                </svg>
                Blog
            </a>
        </li>
        <li>
            <a href="{{ '/contributing' | relative_url }}">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url main-icons.svg#contribute %}"></use>
                </svg>
                Contribute
            </a>
        </li>
        <li>
            <a href="https://community.memfault.com/">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url main-icons.svg#forum %}"></use>
                </svg>
                Forums
            </a>
        </li>
        <li>
            <a href="https://github.com/memfault/interrupt">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url social-icons.svg#github %}"></use>
                </svg>
                Github
            </a>
        </li>
        <li>
            <a href="{{ '/jobs' | relative_url }}">
                <svg class="svg-icon slack" viewbox="0 0 9 9">
                    <use xlink:href="{% img_url main-icons.svg#briefcase %}"></use>
                </svg>
                Jobs
            </a>
        </li>
        <li>
            <a href="{{ '/events' | relative_url }}">
                <svg class="svg-icon slack" viewbox="0 0 9 9">
                    <use xlink:href="{% img_url main-icons.svg#people %}"></use>
                </svg>
                Events
            </a>
        </li>
        <li>
            <a href="https://www.meetup.com/interrupt-memfault-meetup/">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url main-icons.svg#meetup %}"></use>
                </svg>
                Meetup
            </a>
        </li>
        <li>
            <a href="https://interrupt-slack.herokuapp.com/">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url social-icons.svg#slack %}"></use>
                </svg>
                Slack
            </a>
        </li>
        <li>
            <a href="https://go.memfault.com/interrupt-subscribe">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url main-icons.svg#subscribe %}"></use>
                </svg>
                Subscribe
            </a>
        </li>
        <li>
            <a href="{{ 'feed.xml' | absolute_url }}">
                <svg class="svg-icon slack">
                    <use xlink:href="{% img_url social-icons.svg#rss %}"></use>
                </svg>
                RSS
            </a>
        </li>
        <li>
            <a href="{{ '/tags' | relative_url }}">
                <svg class="svg-icon slack" viewbox="0 0 448 512">
                    <use xlink:href="{% img_url main-icons.svg#tag %}"></use>
                </svg>
                Tags
            </a>
        </li>
        <li>
            <a href="https://memfault.com/webinars">
                <svg class="svg-icon slack" viewbox="0 0 448 512">
                    <use xlink:href="{% img_url main-icons.svg#webinar %}"></use>
                </svg>
                Webinars
            </a>
        </li>
    </ul>

    <h2 class="home-header-2" id="latest-blog-posts">
        <a href="{{ '/' | relative_url }}#latest-blog-posts">
            Latest Blog Posts
        </a>
    </h2>
    <ul id="posts">
        {% assign maxPost = 5 %}
        {% assign counter = 0 %}
        {% assign posts = site.posts | sort:"date" | reverse %}

        {% for post in posts %}
            <li class="post">
                {% if post.image and post.image != '/img/interrupt-cover-1200px.png' %}
                <div class="post-image">
                    <a href="{{ post.url | relative_url }}">
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endif %}
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <div class="by-line">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                    {% assign author = site.data.authors[post.author] %}
                    {% assign author_key = post.author %}
                    {% if author %}
                        <span>by <a href="{{ '/authors/' | append:author_key | relative_url }}">{{ author.name }}</a></span>
                    {% endif %}
                </div>
                <p>{{ post.excerpt }}</p>
            </li>

            {% assign counter = counter | plus: 1 %}
            {% if counter == maxPost %}
                {% break %} {% comment %}exit the for loop{% endcomment %}
            {% endif %}

        {% endfor %}

    </ul>
    <a href="{{ '/blog' | relative_url }}" class="home-show-more">
        View all posts
        <img class="chevron-icon" src="{% img_url chevron-right-white.svg %}" />
    </a>

        <h2 class="home-header-2" id="top-blog-posts">
        <a href="{{ '/' | relative_url }}#top-blog-posts">
            Top Blog Posts
        </a>
    </h2>
    <ul id="posts">
        {% assign top_posts = "" | split: "" %}
        {% for post in site.posts %}
            {% assign post_filename = post.path | split: "/" | last | split: "." | first %}
            {% if site.data.top_posts.posts contains post_filename %}
                {% assign top_posts = top_posts | push: post %}
            {% endif %}
        {% endfor %}
        {% assign top_posts = top_posts | limit: 6 %}
        {% for post in top_posts %}
            <li class="post">
                {% if post.image and post.image != '/img/interrupt-cover-1200px.png' %}
                <div class="post-image">
                    <a href="{{ post.url | relative_url }}">
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endif %}
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <div class="by-line">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                    {% assign author = site.data.authors[post.author] %}
                    {% assign author_key = post.author %}
                    {% if author %}
                        <span>by <a href="{{ '/authors/' | append:author_key | relative_url }}">{{ author.name }}</a></span>
                    {% endif %}
                </div>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ '/blog' | relative_url }}" class="home-show-more">
        View all posts
        <img class="chevron-icon" src="{% img_url chevron-right-white.svg %}" />
    </a>

    <h2 class="home-header-2" id="about-memfault">
        About Memfault
    </h2>
    <p>
        Memfault is the first cloud-based observability platform for connected device debugging, monitoring, and updating, which brings the efficiencies and innovation of software development to hardware processes. Recognizing that any connected device team could benefit from what they were building, François Baldassari, Chris Coleman, and Tyler Hoffman founded Memfault in 2018 with the help of colleagues from Pebble.
        <a href="https://demo.memfault.com/demo/start?utm_campaign=Sandbox&utm_source=Interrupt&utm_medium=side%20bar">
            Explore Memfault
            <svg class="svg-icon slack">
                <use xlink:href="{% img_url main-icons.svg#arrow-right %}"></use>
            </svg>
        </a>
    </p>

    {% include social-buttons.html %}
</div>
