{% assign author = include.author %}
<span>
    {% if author.twitter %}
    <a href="https://twitter.com/{{ author.twitter }}"><svg class="svg-icon twitter"><use xlink:href="{% img_url social-icons.svg#twitter %}"></use></svg></a>
    {% endif %}
    {% if author.linkedin %}
    <a href="{{ author.linkedin }}"><svg class="svg-icon linkedin"><use xlink:href="{% img_url social-icons.svg#linkedin %}"></use></svg></a>
    {% endif %}
    {% if author.github %}
    <a href="https://github.com/{{ author.github }}"><svg class="svg-icon github"><use xlink:href="{% img_url social-icons.svg#github %}"></use></svg></a>
    {% endif %}
</span>
