<footer class="footer">
  <div class="footer-links">
    <a href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon orange"><use xlink:href="{{ 'img/social-icons.svg#rss' | relative_url }}"></use></svg><span>RSS</span>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://eepurl.com/gpRedv">Subscribe</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/contributing">Contribute</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="community.memfault.com">Community</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://memfault.com">Memfault.com</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div>© 2019 - Memfault, Inc.</div>
</footer>
