<footer class="footer">
  <div class="footer-links">
    <a href="{{ 'feed.xml' | absolute_url }}">
      <svg class="svg-icon orange"><use xlink:href="{% img_url social-icons.svg#rss %}"></use></svg><span>RSS</span>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://interrupt-slack.herokuapp.com/">
      <svg class="svg-icon slack"><use xlink:href="{% img_url social-icons.svg#slack %}"></use></svg><span>Slack</span>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://go.memfault.com/interrupt-subscribe">Subscribe</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ '/contributing' | relative_url }}">Contribute</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://community.memfault.com">Community</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://memfault.com">Memfault.com</a>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div>© {{ 'now' | date: "%Y" }} - Memfault, Inc.</div>
</footer>
