<header id="header">
  <a href="{{ '/' | relative_url }}">
    <img id='logo' src="{% img_url interrupt-logo.svg %}" alt="Interrupt Logo">
    <h1>Interrupt</h1>
  </a>
  <br />
  <a href="{{ 'feed.xml' | relative_url }}">
    <svg class="svg-icon rss"><use xlink:href="{% img_url social-icons.svg#rss %}"></use></svg><span>RSS</span>
  </a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="http://eepurl.com/gpRedv">Subscribe</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{ '/contributing' | relative_url }}">Contribute</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{ '/tags' | relative_url }}">Tags</a>&nbsp;&nbsp;
  <a href="https://interrupt-slack.herokuapp.com/">
    <svg class="svg-icon slack"><use xlink:href="{% img_url social-icons.svg#slack %}"></use></svg><span>Slack</span>
  </a>&nbsp;&nbsp;&nbsp;&nbsp;
</header>
