<head>
  <!-- Meta -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% seo %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133918181-3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133918181-3');
  </script>


  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" href="{% img_url favicon.png %}" type="image/png" />

  <!-- CSS & fonts -->
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400%7CSource+Sans+Pro:300,400,700,900,400italic%7CSignika:700,300,400,600' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- RSS -->
  <link href="{{ '/feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="RSS 2.0 Feed" />

</head>
