<nav {% if site.reverse == true %}id="nav-left"{% else %}id="nav"{% endif %}>
	<div id="nav-list">
		<a href="{{ '/' | relative_url }}">Home</a>
		<a href="{{ '/blog' | relative_url }}" title="Blog">Blog</a>

		<!-- Nav pages -->
	  {% for page in site.pages %}
	    {% if page.layout == "page" %}
	      <a href="{{ page.url | relative_url }}" title="{{ page.title }}">{{ page.title }}</a>
	    {% endif %}
	  {% endfor %}

    <!-- Nav links -->
	  {% include link.html %}

	</div>

  <!-- Nav footer -->
  {% include nav-footer-custom.html %}

</nav>
