<div class="memfault-info-wrapper">
  <h3 class="">Latest Blog Posts</h3>
  <p>See the latest content from the Interrupt community.</p>
      <p>
        <a href="{{ '/' | relative_url }}#latest-blog-posts">
          View latest blog posts
          <img class="chevron-icon" src="{% img_url chevron-right.svg %}" />
        </a>
    </p>
</div>

<div class="memfault-info-wrapper">
  <h3 class="">Top Blog Posts</h3>
  <p>Read the posts that readers love the most.</p>
      <p>
        <a href="{{ '/' | relative_url }}#top-blog-posts">
          View top blog posts
          <img class="chevron-icon" src="{% img_url chevron-right.svg %}" />
        </a>
    </p>
</div>
