<!-- <form id="search-form">
  <label for="search-input">
    <h3>Search</h3>
  </label>
  <input autocomplete="off" type="text" id="search-input" name="q" placeholder="Search posts...">
</form>
<section id="search-results" style="display: none;"> </section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article class="search-result">
      <h1><a href="{{url}}">{{title}}</a></h1>
      <small>
        {{#date}}<time datetime="{{pubdate}}" pubdate>{{displaydate}}</time>{{/date}}
        {{#is_post}}
          {{#tags}} #{{.}}{{/tags}}
        {{/is_post}}
      </small>
    </article>
  {{/entries}}
</script>
{% endraw %}

<style>
  #search-results {
    padding-top: 1.3em;
  }

  .search-result {
    padding-bottom: 0.5em;
  }

  .search-result h1 {
    font-size: 1rem;
    line-height: 1.5;
  }
</style> -->
<!-- <div id="search"></div> -->
