$orange-color: #f66a0a !default;
$twitter-color: #1da1f2;
$github-color: #000000;
$rss-color: $orange-color;
$linkedin-color: #0077B5;

$blue: #141443;
$gray: rgba(20, 24, 69, 0.15);
$white: white;

$baseline-height: 2rem;

$main-color: #141845;
$background-color: #FDFDFD;
$text-color: #222222;

$link-color: $main-color;
$theme-color: $main-color;

// Dark theme
$main-color-dark: #FDFDFD;
$background-color-dark: #141845;
$text-color-dark: #FDFDFD;

// Additional colors
$light-grey: #CBD6E2;
$disabled-color: rgba(103, 113, 144, 1.0);
$background-color2: #F5F8FA;
$dark-grey: #33475b;
