/*- Custom style -*/

/*- colors -*/

$orange-color: #f66a0a !default;
$twitter-color: #1da1f2;
$github-color: #000000;
$rss-color: $orange-color;
$linkedin-color: #0077B5;

/*- formatting -*/

%colored-links {
  a {
    color: $link-color;
    text-decoration: none;
    font-weight: 700;
    &:hover,
    &:focus {
      color: darken($link-color, 5%);
    }
  }
}

.content {
  @extend %colored-links;

  &:after {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }

  ul, ol {
    ul, ol {
      margin-left: 4ex;
      margin-bottom: 0;
    }
  }
}

div.author {
  @extend %colored-links;

  display: flex;
  padding-bottom: 20px;

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    margin-left: 0px;
  }
  span {
    font-style: italic;
  }
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
}
thead th {
    background-color: $main-color;
    color: $background-color;
    border: solid 1px $main-color;
    padding: 10px;
    text-align: left;
}
tbody td {
    border: solid 1px $main-color;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.contribute-section {
  &.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 120%;
    margin: 30px 0;
  }
  .form {
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 6px 4px 3px 5px;
  vertical-align: text-bottom;
  box-sizing: content-box;
}

.svg-icon.rss {
  color: $rss-color;
}
.svg-icon.twitter {
  color: $twitter-color;
}
.svg-icon.linkedin {
  color: $linkedin-color;
}
.svg-icon.github {
  color: $github-color;
}

figure {
  margin-top: 40px;
}

figcaption {
  margin-top: -20px;
  text-align: center;
  font-size: 12px;
}
