/*- Custom style -*/

.content {
  &:after {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }
}

div.author {
  display: flex;
  padding-bottom: 20px;

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    margin-left: 0px;
  }
  span {
    font-style: italic;
  }
}
