@import "variables";

#table-of-contents {
  background-color: $gray;
  padding-left: 10px;
  color: $blue;
  padding-bottom: 0;
  margin: 0;
}

#markdown-toc {
  background-color: $gray;
  color: $blue;
  padding-left: 2rem;
  margin-left: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
