---
layout: split-view
---

<article id="post-page">
    {% assign author = site.data.authors[page.author] %}
    {% assign author_key = page.author %}

    <script src="{{ '/js/anchor.min.js' | relative_url }}"></script>
    <h2>{{ page.title }}</h2>
    <div class="by-line">
       <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
       {% if author %}
       <span>by <a href="{{ '/authors/' | append:author_key | relative_url }}">{{ author.name }}</a></span>
       {% endif %}
    </div>
    <div class="content">

        {{ content }}

    </div>

    {% if author %}
        <div class="author">
            {% if author.image %}
            <img src="{{ author.image | relative_url }}"  />
            {% endif %}
            <span>
                <a href="{{ '/authors/' | append:author_key | relative_url }}">{{ author.name }}</a> {{ author.blurb }}<br />
                {% include author-social.html author=author %}
            </span>

        </div>
    {% endif %}

    <div id='discourse-comments'></div>
</article>
<script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://community.memfault.com/',
        discourseEmbedUrl: '{{ page.url | absolute_url }}' };

    (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
    anchors.options.visible = 'hover';
    anchors.add('.post-content > h1, h2, h3, h4, h5, h6').remove('.no-anchor');
</script>

