---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		
	</div>
    {% assign author = site.data.authors[page.author] %}
    {% if author %}
        <div class="author">
            {% if author.image %}
            <img src="{{ author.image | prepend: site.baseurl | replace: '//', '/' }}"  />
            {% endif %}
            <span><a href="{{ author.web }}">{{ author.name }}</a> {{ author.blurb }}</span>
        </div>
    {% endif %}
    <div id='discourse-comments'></div>
</article>
<script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://community.memfault.com/',
        discourseEmbedUrl: '{{ site.url }}{{ page.url }}' };

    (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>

