<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">

	  	<!-- Navigation -->
	  	{% include menu.html %}

      <!-- Top banner -->
		{% include notification-banner.html %}

    <!-- Icon menu -->
	  <a {% if site.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% include header-custom.html %}

    <!-- Main content -->
	  <div id="split-container-wrapper">
      <div id="split-container">
        <main>

          {{ content }}

        </main>
        <aside>
          {% include search.html %}
          {% include subscribe.html %}
          {% include posts-nav.html %}
          {% include by-memfault.html %}
          {% include share-buttons.html %}
        </aside>
      </div>

        <!-- Pagination links -->
        {% include pagination.html %}

    </div>

        <!-- Footer -->
        {% include footer.html %}

        <!-- Script -->
        {% include script.html %}

  </div>
</body>
</html>
